DB_HOST=localhost
DB_NAME=XXXX
DB_PORT=5432
DB_USERNAME=XXX
DB_PASSWORD=XXX

GEMINI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

#BACKEND URL
#VITE_API_URL=http://renato-svr-01:9090

#FRONTEND URL
CORS_ALLOWED_ORIGIN=http://localhost:5173

GOOGLE_APPLICATION_CREDENTIALS=\PATH
